@model StoreApp.WebApp.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "PlaceOrder";
}
@{ 
    foreach (var item in Model.Items.Keys)
    {
        TempData[item.Name] = Model.Items[item];
    }
}

<h1>PlaceOrder</h1>

<div>
    <h4>Order Details:</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Qty
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items.Keys)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Model.Items[item]
                </td>
                
            </tr>
            }
        </tbody>
        <tr>
            <td>Total Cost</td>
            <td>@Model.Cost</td>
            <td></td>

        </tr>
    </table>

</div>
<div>
    <form asp-action="PlaceOrder">
        <input type="hidden" value="@Model.StoreId"/>
        <input type="submit" value="Place Order"/>
    </form>
</div>
<div>
    @Html.ActionLink("Edit", "GetProducts", new {  }) |
</div>
